*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }
h1{
    text-align: center;
    font-family: cursive;
    color: rgb(255, 255, 255);

}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
    
}
.image-container{
    display: flex;
    position: relative;
}
.image-container img{
    width: 100%;
}
article{
    padding: 10px;
    box-shadow: 0px 0px 1px #000;
    background: #191c29;
    flex-direction: column;
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align:flex;
    display: flex;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: cursive;
}

body {
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }
  
  

  
  article:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
 article:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  article::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  article::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  .buscador{
    padding: 10 40px 10 25px;
    position: center;
    margin: 0 auto;
    padding-top: 6px;
    width: 400px;
    height: 30px;
    align-content: center;
    align-items: center;
  }
  .botonBusqueda{
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    
    outline: none;
    background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
  }